.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 36px 0 80px;
}

/* Title */
.title-container {
    text-align: center;
}

.category {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

.title {
    margin: 0 0 16px;
    font-size: 32px;
    font-weight: 800;
}

.date {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-weight: 700;
}

/* Featured Image */
.featured-image {
    display: block;
    margin-top: 36px;
    width: 100%;
    border-radius: 16px;
    max-height: 460px;
    object-fit: cover;
}

.featured-image-attribution {
    color: #999;
    font-size: 12px;
    text-align: right;
    margin: 8px 0;
}

/* Content */
.content {
    width: 732px;
    margin: 48px auto 0;
    font-size: 18px;
    line-height: 2;
}

.content h1 {
    margin: 1.6em 0 0.8em;
}

.content h2 {
    margin: 1.6em 0 0.8em;
}

.content h3 {
    margin: 1.6em 0 0.8em;
}

.content h4 {
    margin: 1.6em 0 0.8em;
}

.content h5 {
    margin: 1.6em 0 0.8em;
}

.content h6,
.content p {
    margin: 1.2em 0;
}

.content li {
    line-height: 2;
}

@media (max-width: 768px) {
    .container {
        padding: 24px 16px 60px;
    }

    .category {
        font-size: 14px;
    }

    .title {
        font-size: 28px;
    }

    .featured-image-attribution {
        font-size: 10px;
    }

    .content {
        width: 100%;
        font-size: 16px;
    }
}
