* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: solid 1px rgba(51, 51, 51, 0.1);
}

.logo {
    height: 32px;
}
